{{> menu id="about"}}

<section class="ui center aligned middle aligned two column grid segment">
  <div class="column">
    <header class="ui header"> Weather App </header>
    <p> Monitor latest weather station readings </p>
  </div>
  <div class="column">
      <img class="ui image" src="https://cdn.glitch.com/c4ca02c0-5bf7-4841-a6e5-d629780f4604%2Flake.jpg?v=1631018392169">
  </div>
</section>