{{> menu id="dashboard"}}

{{#each stations}}
  <section class="ui segment">
    <h2 class="ui header">
      {{name}}
    </h2>
     <a href="/station/{{id}}"> <i class="folder outline icon"></i></a>
      <a href="/dashboard/deletestation/{{id}}"><i class="icon trash"></i></a>
  </section>
{{/each}}
{{>add-station-form}}
